<p id="notice"><%= notice %></p>

<h1>Listing Time Blocks</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>When</th>
      <th>Meeting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_blocks.each do |time_block| %>
      <tr>
        <td><%= time_block.day %></td>
        <td><%= time_block.when %></td>
        <td><%= time_block.meeting %></td>
        <td><%= link_to 'Show', time_block %></td>
        <td><%= link_to 'Edit', edit_time_block_path(time_block) %></td>
        <td><%= link_to 'Destroy', time_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time block', new_time_block_path %>
